<%- layout('layout') -%>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1>Shop Smart!Save Big!!!</h1>
    <p>Starting point to crate something unique</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Start your search here</h3>
      <p>Signuptostart Buying </p>
    </div>
    <div class="col-md-4">
      <h3>Start your search here</h3>
      <p>Signuptostart Buying </p>
   </div>
    <div class="col-md-4">
      <h3>Start your search here</h3>
      <p>Signuptostart Buying </p>
    </div>
  </div>
